a {
  text-decoration: none;
}
.container-about {
  margin: 0 10% 10vh 10%;
}

.title-about {
  padding-top: 3vh;
  margin-bottom: 1%;
  font-size: 4.2vw;
  text-align: center;
  align-items: center;
}

.title-details {
  display: flex;
  font-size: 1.2vw;
  padding: 0 10%;
  text-align: center;
  color: #0d1317;
}

a {
  color: #0d1317;
}

a:hover {
  color: rgb(168, 168, 168);
}

